{% extends "base.html" %}
  {% block page_title %}Об авторе проекта{% endblock %}
  {% block content %}
    <h2>Привет, я Света - автор того, что ты видишь</h2>
    <h3>Я - не волшебник, я только учусь!</h3>
    <div class="container py-5">
      Меня вдохновляет:
      <ul>
        <li> Когда я вижу результат своей работы </li>
        <li> Любимые песни </li>
        <li> Когда за окном солнце </li>
      </ul>
      <p>    
        У меня нет ни домашних животных, ни желтой резиновой уточки,
        которая помогала бы мне в работе (к сожалению).
        Но у меня есть большое желание погрузиться в область программирования.  
      </p>
      <a href="https://github.com/Svetlana-Zimina">GitHub автора</a><br>
    </div>
  {% endblock %}
